/*标签选择器*/
body {
	background-color: green;
}

h1, h2 {
	color: #FF0000; /*red, rgb(255, 0, 0)/(100%,0%,0%);, #FF0000*/
}

p {
	color: rgb(255,255,255);
}

/*类选择器*/
.bp {
	color: rgb(0,0,0);
}

/*id选择器*/
#yid {
	color: yellow;
}

/*
颜色的三种写法：
颜色名：red,greed,blue等
rgb：r-red，r-green, blue, rgb(0-255, 0-255, 0-255)
十六进制：#FF0000

十六进制：
0 1 2 3 4 5 6 7 8 9 A B C D E F

十进制：
358 = 300 + 50 + 8 = 3 * 100 + 2 * 10 + 8 = 3 * 10^2 + 5 * 10^1 + 8 * 10^0

十六进制：
FF = F * 16^1 + F * 16^1 = 15 * 16 + 15 * 1 = 255
*/